<script>
  import { url } from "@roxi/routify";
</script>

<header>
  <nav class="row">
    <a href={$url(".")}>Home</a>
    <a href={$url("./entries")}>Recipes</a>
    <a href={$url("./ingredients")}>Ingredients</a>
    <a href={$url("./shopping-list")}>Shopping List</a>
  </nav>
</header>

<main>
  <slot />
</main>

<footer class="centre">
  <a href="https://gitlab.com/eidoom/recipes">Source</a>
</footer>

<style>
  .centre {
    display: flex;
    justify-content: center;
    margin-top: 4em;
  }
</style>
