<script>
  import { addItemToShoppingList } from "../meta.js";
  import { shoppingList } from "../stores.js";

  let ingredient;

  function parseIngredient(ingredient_) {
    const match = ingredient_.match(/(\d+\.?\d*) ?(\w+) ?(.*)/);
    let res;
    if (match) {
      res = { quantity: parseFloat(match[1]) };
      if (match[3]) {
        res.unit = match[2];
        res.name = match[3];
      } else {
        res.name = match[2];
      }
    } else {
      res = { name: ingredient_ };
    }
    addItemToShoppingList(res);
  }

  function resetShoppingList() {
    $shoppingList = [];
    localStorage.setItem("shoppingList", JSON.stringify([]));
  }

  function clearCheckedShoppingList() {
    $shoppingList = $shoppingList.filter((i) => i.checked !== true);
    localStorage.setItem("shoppingList", JSON.stringify($shoppingList));
  }
</script>

<h1>Shopping List</h1>

<div class="column">
  <div class="list">
    {#each $shoppingList as item}
      <input
        type="checkbox"
        bind:checked={item.checked}
        id={item.name}
        class:checked={item.checked}
      />
      <label for={item.name} class:checked={item.checked}>
        {#if item.quantity}{item.quantity}{/if}
        {#if item.unit}{item.unit}{/if}
        {item.name}
      </label>
    {/each}
  </div>

  <div class="row">
    <button
      on:click={() => {
        parseIngredient(ingredient);
        ingredient = "";
      }}>+</button
    >
    <input
      type="text"
      size="20"
      placeholder="ingredient"
      bind:value={ingredient}
    />
  </div>

  {#if $shoppingList.length}
    <div class="centre">
      <input
        type="reset"
        value="Clear checked"
        on:click={clearCheckedShoppingList}
      />
      <input type="reset" value="Clear all" on:click={resetShoppingList} />
    </div>
  {/if}
</div>

<style>
  .column {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .centre {
    display: flex;
    justify-content: space-evenly;
  }

  button {
    padding: 10px 14px;
  }
</style>
