<script>
  export let slug;

  import { shoppingList } from "../../stores.js";
  import { slugify, addItemToShoppingList } from "../../meta.js";

  import Ingredients from "./_Ingredients.svelte";

  import recipes from "./recipes.json";

  function process(step, mul) {
    return step
      .replace(/\{(\d+\.?\d*)\}/, (_, capture) => mul * parseFloat(capture))
      .replace(
        /\{([\w ]+)\}/,
        (_, capture) =>
          `<a href="../ingredients/${slugify(capture)}">${capture}</a>`
      );
  }

  function addListToShoppingList(items) {
    for (const item of items) {
      const strip = Object.entries(item).reduce((acc, [k, v]) => {
        if (["quantity", "unit", "name"].includes(k)) {
          acc[k] = v;
        }
        return acc;
      }, {});
      addItemToShoppingList(strip, false);
    }
    localStorage.setItem("shoppingList", JSON.stringify($shoppingList));
  }

  const recipe = recipes.find((e) => slug == e.slug);

  let mul = 1,
    done = recipe.method.map((i) => false);
</script>

<h1>{recipe.title}</h1>

{#if recipe.tags}
  <div class="row">
    {#each recipe.tags as tag}
      <a href="../tags/{tag}">#{tag}</a>
    {/each}
  </div>
{/if}

{#if recipe.inspiration}
  <p>
    Inspired by
    {#if recipe.inspiration.link}
      <a href={recipe.inspiration.link}>{recipe.inspiration.name}</a>
    {:else}
      {recipe.inspiration.name}
    {/if}
  </p>
{/if}

{#if recipe.images}
  {#each recipe.images as image}
    <div class="container">
      <img srcset={image} alt="Image of the food" class="pic" />
    </div>
  {/each}
{/if}

<div class="row vcentre">
  <label for="multiplier"> Adjust amount: </label>
  <input type="number" bind:value={mul} class="short" min="1" id="multiplier" />
</div>

{#if recipe.makes}
  <p>Makes {mul * recipe.makes.quantity} {recipe.makes.unit}</p>
{/if}

<div class="container">
  <button
    type="reset"
    on:click={() => addListToShoppingList(recipe.ingredients)}
  >
    Add to shopping list
  </button>
</div>

<h2>Ingredients</h2>

{#if Array.isArray(recipe.ingredients)}
  <Ingredients bind:ingredients={recipe.ingredients} {mul} />

  {#if recipe.ingredients.some((i) => i.checked)}
    <div class="container">
      <input
        type="reset"
        on:click={() => {
          for (const i in recipe.ingredients) {
            recipe.ingredients[i].checked = false;
          }
        }}
      />
    </div>
  {/if}
{:else}
  {#each Object.keys(recipe.ingredients) as group}
    <h3>{group}</h3>

    <Ingredients bind:ingredients={recipe.ingredients[group]} {mul} />
  {/each}

  {#if Object.values(recipe.ingredients).some((l) => l.some((i) => i.checked))}
    <div class="container">
      <input
        type="reset"
        on:click={() => {
          for (const g in recipe.ingredients) {
            for (const i in recipe.ingredients[g]) {
              recipe.ingredients[g][i].checked = false;
            }
          }
        }}
      />
    </div>
  {/if}
{/if}

<h2>Method</h2>

<div class="list">
  {#each recipe.method as step, i}
    <input
      type="checkbox"
      bind:checked={done[i]}
      id={i}
      class:checked={done[i]}
    />
    <label for={i} class:checked={done[i]}>
      {@html process(step, mul)}
    </label>
  {/each}
</div>

{#if done.some((i) => i)}
  <div class="container">
    <input
      type="reset"
      on:click={() => {
        for (const i in done) {
          done[i] = false;
        }
      }}
    />
  </div>
{/if}

<style>
  .short {
    padding-left: 10px;
    width: 7ex;
  }

  .container {
    display: flex;
    justify-content: center;
    margin: 1em 0;
  }

  .pic {
    width: 90%;
    border-radius: 1em;
  }

  .vcentre {
    align-items: center;
  }
</style>
