<script>
  export let ingredient, mul;
</script>

<input
  type="checkbox"
  bind:checked={ingredient.checked}
  id={ingredient.name}
  class:checked={ingredient.checked}
/>
<label for={ingredient.name} class:checked={ingredient.checked}>
  {#if ingredient.quantity}{mul * ingredient.quantity}{/if}
  {#if ingredient.unit}{ingredient.unit}{/if}
  <a href="../ingredients/{ingredient.slug}">{ingredient.name}</a
  >{#if ingredient.comment}, {ingredient.comment}{/if}
</label>

<style>
</style>
