<script>
  export let ingredients, mul;

  import Ingredient from "./_Ingredient.svelte";
</script>

<div class="list">
  {#each ingredients.filter((i) => !i.checked) as ingredient}
    <Ingredient bind:ingredient {mul} />
  {/each}
  {#each ingredients.filter((i) => i.checked) as ingredient}
    <Ingredient bind:ingredient {mul} />
  {/each}
</div>

<style>
</style>
