<script>
  import recipes from "./recipes.json";
</script>

<h1>List of recipes</h1>
<ul>
  {#each recipes as recipe}
    <li>
      <a href="./entries/{recipe.slug}">{recipe.title}</a>
    </li>
  {/each}
</ul>

<style>
</style>
