.checked {
  opacity: 50%;
}

.list {
  padding-left: 10px;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 4px;
  row-gap: 2px;
}

.row {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}
