<script>
  import { Router } from "@roxi/routify";
  import routes from "../.routify/routes.default.js";

    const urlRewrite = {
        toExternal: url => '/recipes' + url,
        toInternal: url => url.replace(/^\/recipes/, ''),
    }
</script>

<Router {routes} {urlRewrite} />

<style>
</style>
