<script>
  export let slug;

  import { capitalise } from "../../meta.js";

  import ingredients from "./ingredients.json";

  const ingredient = ingredients.find((e) => slug == e.slug);
</script>

<h1>{capitalise(ingredient.name)}</h1>

{#if ingredient.comments}
  {#each ingredient.comments as comment}
    <p>
      {comment}
    </p>
  {/each}
{/if}

{#if ingredient.recipes.length}
  <h2>Recipes using {ingredient.name}</h2>

  <ul>
    {#each ingredient.recipes as recipe}
      <li>
        <a href="../entries/{recipe.slug}">{recipe.title}</a>
      </li>
    {/each}
  </ul>
{/if}

<style>
</style>
