<script>
  import { capitalise } from "../../meta.js";

  import ingredients from "./ingredients.json";
</script>

<h1>List of ingredients</h1>
<ul>
  {#each ingredients as ingredient}
    <li>
      <a href="ingredients/{ingredient.slug}">{capitalise(ingredient.name)}</a>
    </li>
  {/each}
</ul>

<style>
</style>
